section, footer, aside, nav, article, figure, figcaption,hgroup{
    display : block;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    margin:0;
}
h1{
    color: #D2270C ;
    text-align: left;
    padding-left: 15%;
}
body {
    background: url("../recursos/noise.jpg");
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#navigation {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 15%;
}

#navigation li {
    display: inline-block;
    margin-bottom: 5px;
}

#navigation li a{
    font-size: 1.5em;
    padding: 10px;
    color: black
    
}
#home_small {
    vertical-align: middle;
}
#navigation li a:hover{
    color: #368DF8;
}